<!-- nav -->
<!--<nav class="navbar navbar-expand navbar-dark bg-dark" >-->

  <!--<div class="navbar-nav" *ngIf="currentUser!=null">-->
    <!--<a class="nav-item nav-link" routerLink="">Home</a>-->
    <!--<a class="nav-item nav-link" (click)="logout()">Logout</a>-->
  <!--</div>-->

<!--</nav>-->

<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span class="nav-item nav-link" *ngIf="currentUser!=null">Welcome, {{currentUser.alias}}!</span>
      <span class="spacer"></span>
      <span class="nav-item nav-link" *ngIf="currentUser!=null" routerLink="">Home</span>
      <span class="nav-item nav-link" *ngIf="currentUser!=null" routerLink="">Profile</span>
      <span class="spacer"></span>
    <!--TODO flag is select to change country-->
      <img *ngIf="currentCountry!=null" src="../../../assets/flags.mini/{{currentCountry}}.png" alt="{{currentCountry}}">
      <span class="nav-item nav-link" *ngIf="currentUser!=null" (click)="logout()">Logout</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side" class="bg-dark">
    <span>Add a player</span>
  </mat-sidenav>
  <mat-sidenav opened mode="side" class="bg-dark" position="end">Chats with NT managers</mat-sidenav>
  <div class="auth-form" *ngIf="currentUser==null">
    <mat-form-field>
      <input matInput name="login" [(ngModel)]="login" placeholder="Enter your BB login" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="code" type="password" [(ngModel)]="code" placeholder="Enter your secret code" required>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="doLogin()">Auth</button>
  </div>
  <router-outlet></router-outlet>
</mat-sidenav-container>
 <!--main app container-->
<!--<div class="jumbotron">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-6 offset-sm-3">-->
        <!--&lt;!&ndash;<alert></alert>&ndash;&gt;-->
        <!--<router-outlet></router-outlet>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
