<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="nav-item nav-link" *ngIf="currentUser!=null">Welcome, {{currentUser.alias}}!</span>
    <span class="spacer"></span>
    <span class="nav-item nav-link" *ngIf="currentUser!=null" routerLink="">Home</span>
    <span class="nav-item nav-link" *ngIf="currentUser!=null" routerLink="profile">Profile</span>
    <span class="spacer"></span>
    <mat-form-field *ngIf="currentCountry!=null">
      <mat-select [(ngModel)]="currentCountry">
        <mat-option *ngFor="let country of countries" [value]="country" (click)="chooseCountry()">
          {{country}}
          <img  src="../../../assets/flags.mini/{{country}}.png" alt="{{country}}">
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="nav-item nav-link" *ngIf="currentUser!=null" (click)="logout()">Logout</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side" class="bg-dark">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['players', 'my']"><span class="sidenav-item">Add a player</span></a>
      <a mat-list-item *ngIf="currentUser!=null && currentUser.roleCountry!=null" [routerLink]="['players', 'nt']">
        <span class="sidenav-item">See database</span>
      </a>
      <a mat-list-item *ngIf="currentUser!=null && currentUser.roleCountry!=null" [routerLink]="['players', 'bulk']">
        <span class="sidenav-item">Add players</span>
      </a>
      <a mat-list-item *ngIf="currentUser!=null && currentUser.roleCountry!=null" (click)="updateNTSquad()">
        <span class="sidenav-item">Update NT squad</span>
      </a>
      <a mat-list-item *ngIf="currentUser!=null && currentUser.roleCountry!=null" (click)="addPostPopup()">
        <span class="sidenav-item">Add New Post</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav opened mode="side" class="bg-dark" position="end">
    <a mat-list-item><span class="sidenav-item">Chats with NT managers</span></a>
    <chats></chats>
  </mat-sidenav>
  <div class="auth form" *ngIf="currentUser==null">
    <mat-form-field>
      <input matInput name="login" [(ngModel)]="login" placeholder="Enter your BB login" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="code" type="password" [(ngModel)]="code" placeholder="Enter your secret code" required>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="doLogin()">Auth</button>
  </div>
  <router-outlet></router-outlet>
</mat-sidenav-container>
<!--main app container-->
<!--<div class="jumbotron">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-sm-6 offset-sm-3">-->
<!--&lt;!&ndash;<alert></alert>&ndash;&gt;-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
