<div *ngIf="type=='bulk'" class='loadExcelInput'>
  <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
  <button type="button" class="btn" (click)="Upload()" >Upload</button>
</div>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="example-table-container">
    <table mat-table [dataSource]="players" class="example-table" matSort multiTemplateDataRows>

      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsForDisplay">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{getColumnName(column)}}</th>
        <!--<td mat-cell *matCellDef="let element"> {{element[column]}} </td>-->
        <td mat-cell *matCellDef="let element">
         {{getColumnValue(element, column)}}
        </td>
      </ng-container>

      <!-- add Column -->
      <ng-container matColumnDef="add" sticky>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="accent"
                  (click)="add(element.id)">{{element.inDB ? "Update" : "Add"}}
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <a href="{{getBBPlayerLink(element)}}">Link to BB</a>
            <div>Last 10 ups:</div>
            <div *ngFor="let up of element.lastUps | keyvalue">
              {{up.key}} : <span *ngFor="let val of up.value">{{val+'  '}}</span>
            </div>
            <div>bio: {{element.bio}}</div><button mat-raised-button color="accent"
                                                   (click)="openBio()">{{element.bio ? "Update" : "Add"}}</button>
            <br>
            <div class="text-skill-container">
              <div *ngFor="let skill of skillOrder; let odd=odd" class="text-skill">
                {{skill}}: <span [style.color]="skillNames[element.skills[skill]][1]">{{skillNames[element.skills[skill]][0]}}</span>
                <br *ngIf="odd">
              </div>
            </div>
            <button mat-raised-button color="accent" (click)="remove(element.id)">Remove from DB</button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = type=='my' ? null : expandedElement === element ? null : element"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 25, 50, 100]"
                 showFirstLastButtons></mat-paginator>

</div>
