/* You can add global styles to this file, and also import other style files */
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

mat-form-field{
  margin: 5px;
}

.form, .form{
  align-items: center;
  display: flex;
  justify-content: center;
}

.auth{
  margin-top: 30vh;
}

.profile{
  flex-direction: column;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav-container{
  min-height: 93vh;
}

mat-sidenav{
  min-width: 12vw;
  position: sticky;
  position: -webkit-sticky;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav-item{
  color: white;
}

mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
}

table {
  width: 100%;
}

.center {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}
